<div class="service">
	<div class="row">
		<div class="service__left">
			<perch:content id="main_text" label="Main text" type="textarea" editor="markitup" markdown="true" />
		</div>
		<div class="service__right">
			<div class="service__subtext">
				<perch:content id="sidebar_text" label="Sidebar text" type="textarea" editor="markitup" markdown="true" />
			</div>
			<div class="service__subimage">
				<img src='<perch:content id="sidebar_image" label="Sidebar image" type="image" />' alt="">
			</div>
		</div>
	</div>
</div>