<perch:before>
<ul class="social">
</perch:before>

	<li class="social__item">
		<a href="<perch:content id="url" type="text" label="URL"/>" class="social__link" target="_blank">
			<img
				class="social__icon"
				src="<perch:content id="icon" type="image" label="Icon" />"
				class="social__icon"
				alt="<perch:content id="name" type="text" label="Text" />"
			>
			<span class="social__text">
				<perch:content id="name" type="text" label="Text" class="social__text" />
			</span>
		</a>
	</li>

<perch:after>
</ul>
</perch:after>