<perch:before>
<ul class="hfeed listing blog-list" itemscope itemtype="http://schema.org/Blog">
</perch:before>
    <li class="hentry blog-list__item<perch:if exists="image"> has-image</perch:if>" itemscope itemtype="http://schema.org/BlogPosting">
        <a href="<perch:blog id="postURL" />" rel="bookmark" class="blog-list__link row" itemprop="url">
            <perch:if exists="image">
            <div class="blog-list__image-wrap">
                <img class="blog-list__image" src="<perch:blog id="image" type="image" width="80" height="80" crop="true" />" alt="<perch:blog id="postTitle" />" itemprop="image" />
            </div>
            </perch:if>
            <div class="blog-item__wrap">
                <h2 class="blog-list__title" itemprop="headline"><perch:blog id="postTitle" /></h2>
                <p class="entry-published date blog-list__date">
                    <meta name="date" itemprop="datePublished" content="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d" divider-before="Publishing" />">
                    <perch:blog id="postDateTime" format="%d %B %Y" />
                </p>
                <div class="description entry-summary blog-list__excerpt" itemprop="description">
                    <perch:blog id="excerpt" type="textarea" textile="true" />
                </div>
            </div>
        </a>
    </li>
<perch:after>
    </ul>
    <perch:if exists="paging">
        <div class="paging">
            <span class="paging__text">Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" /></span>
            <perch:blog id="page_links" encode="false" />
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" class="paging__link paging__prev" />">Previous</a>
            </perch:if>
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" class="paging__link paging__next" />">Next</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>