<div class="hentry abstract row" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="abstract__left">
        <perch:if exists="image">
            <a href="<perch:blog id="postURL" />" class="abstract__image">
                <img class="blog-list__image" src="<perch:blog id="image" type="image" width="565" />" alt="<perch:blog id="postTitle" />" itemprop="image" />
            </a>
        </perch:if>
    </div>
    <div class="abstract__right">
        <span class="abstract__meta"><perch:blog id="postDateTime" format="jS F Y" /></span>
        <h3 class="abstract__heading">
            <a href="<perch:blog id="postURL" />" class="abstract__link">
                <perch:blog id="postTitle" />
            </a>
        </h3>
        <perch:blog id="excerpt" type="textarea" textile="true" />
        <a href="<perch:blog id="postURL" />" class="button">Read more</a>
    </div>
</div>
<perch:after>
    </ul>
    <perch:if exists="paging">
        <div class="paging">
            <span class="paging__text">Page <perch:blog id="current_page" /> of <perch:blog id="number_of_pages" /></span>
            <perch:blog id="page_links" encode="false" />
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" class="paging__link paging__prev" />">Previous</a>
            </perch:if>
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" class="paging__link paging__next" />">Next</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>