<div class="container hero-container" style="background-image:url(<perch:blog id="hero-image" type="image" width="1200" height="500" label="Hero image" />)">
  <div class="hero wrapper row">
    <div class="hero__banner">
      <div class="hero__text">
        <perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" />
      </div>
    </div>
  </div>
</div>

<div class="container main-container">
    <main class="main wrapper">

        <article class="h-entry" itemscope itemtype="http://schema.org/BlogPosting">
            
            <ul class="breadcrumb">
                <li>
                    <a href="/news" itemprop="articleSection">news</a>
                </li>
                <li>
                    <time class="dt-published" datetime="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d H:i:s" divider-before="Publishing" />">
                        <meta name="date" itemprop="datePublished" content="<perch:blog id="postDateTime" type="date" label="Date" time="true" format="Y-m-d" divider-before="Publishing" />">
                        <perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" /> 
                    </time>
                </li>
            </ul>

        	<div class="article row">
                <p class="article__meta">
                    <perch:if exists="authorGivenName">
                        by <span class="p-author h-card"><perch:blog id="authorGivenName" type="hidden" /> <perch:blog id="authorFamilyName" type="hidden" /></span>
                    </perch:if>    
                    <perch:categories id="categories" set="blog" label="Categories" display-as="checkboxes">
                        <a href="archive.php?cat=<perch:category id="catSlug" type="slug" />" class="p-category">
                            <perch:category id="catTitle" type="text" />
                        </a>
                    </perch:categories>
                </p>
                <div class="description e-content" itemprop="articleBody">
                    <perch:blog id="postDescHTML" type="textarea" label="Post" order="2" editor="markitup" markdown="true" size="xxl autowidth" html="true" required="true" />
                </div>
                <perch:if exists="image">
                    <div class="article__subimage">
                        <img src="<perch:blog id="image" type="image" width="980" label="Image" order="4" />" alt="<perch:blog id="postTitle" />" class="article__image" itemprop="image" />
                    </div>
                </perch:if>
            </div>
        </article>

        <perch:blog id="excerpt" type="textarea" label="Excerpt" markdown="true" order="3" suppress="true" size="s" />
        <perch:blog id="image" type="image" width="50" height="50" crop="true" suppress="true" />