<perch:before>
<nav class="nav header__nav js-menu">
<ul class="nav__list">
</perch:before>

<li class="nav__item <perch:if exists="subitems">drop</perch:if>">
  <a href="<perch:pages id="pagePath" />" class="
    <!--* Class BEGIN *-->
    <perch:if exists="subitems">
    nav__link drop__link <perch:if exists="current_page OR ancestor_page">nav__link--ancestor</perch:if>
    <perch:else />
    nav__link <perch:if exists="current_page">nav__link--active</perch:if>
    </perch:if>
  "><!--* Class END *-->
    <perch:pages id="pageNavText" />
  </a>
  <perch:if exists="subitems">
  <ul class="drop__sub">
    <li class="drop__item">
      <a href="<perch:pages id="pagePath" />" class="
        <!--* Class begin *-->
        <perch:if exists="current_page">active</perch:if>
        <perch:if exists="ancestor_page">ancestor</perch:if>
        "><!--* Class end *-->
        overview</a>
    </li>
  <perch:pages id="subitems" encode="false" />
  </ul>
</perch:if>
</li>

<perch:after>
</ul>
</nav>
</perch:after>