<perch:before>
<nav class="nav header__nav js-menu">
<ul class="nav__list">
</perch:before>

    <li class="nav__item <perch:if exists="subitems">drop</perch:if>">
    <perch:if exists="subitems">
        <a href="<perch:pages id="pagePath" />" class="nav__link drop__link <perch:if exists="current_page OR ancestor_page">nav__link--ancestor</perch:if>
    <perch:else />
        <a href="<perch:pages id="pagePath" />" class="nav__link <perch:if exists="current_page">nav__link--active</perch:if>
        </perch:if>">
            <perch:pages id="pageNavText" />
        </a>
        <perch:pages id="subitems" encode="false" />
        <perch:if exists="subitems">
            <li class="drop__item">
                <a href="<perch:pages id="pagePath" />" class="
                    <perch:if exists="current_page">active</perch:if>
                    <perch:if exists="ancestor_page">ancestor</perch:if>
                    ">see all</a>
            </li>
        </ul>
    </perch:if>
    </li>

<perch:after>
</ul>
</nav>
</perch:after>